@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    background-color: rgb(61, 232, 232);
}

li {
    text-align: center;
    list-style-type: none;
}

.menu {
    display: flex;
}

.menu li {
    background-color: rgb(61, 232, 232);
    padding: 10px 20px;
}

.menu #account {
    /* border-radius: 10px; */
    background-color: rgb(128, 234, 199);
    position: absolute;
    right: 0;
}

.menu li:hover {
    background-color: rgb(235, 247, 243);
}



#account {
    position: relative;

}

.functionAccount {
    display: none;
    position: absolute;
    left: 0%;
    top: 100%;

}

.functionAccount li {
    background-color: rgb(128, 234, 199);
    /* border-radius: 5px; */
}

.menu #account:hover {
    background-color: rgb(235, 247, 243);

}

.menu #account:hover .functionAccount {
    background-color: rgb(235, 247, 243);
    display: block;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

section {
    background-color: white;
    padding: 50px;
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}

button {
    background-color: green;
    color: white;
    border: 5px;
    border-color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid black;
}

th {
    background-color: cyan;
}