@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: black;
}

.thanhDieuHuong {
    display: flex;
    background-color: rgb(61, 232, 232);
}

li {
    text-align: center;
    list-style-type: none;
}

.menu {
    display: flex;
}

.menu li {
    background-color: rgb(61, 232, 232);
    padding: 10px 20px;
}

.menu #account {
    background-color: rgb(128, 234, 199);
    position: absolute;
    right: 0;
}

.menu li:hover {
    background-color: rgb(235, 247, 243);
}


.phuongThucTaiKhoan {
    display: none;
    position: absolute;
    left: 0%;
    top: 100%;

}

.phuongThucTaiKhoan li {
    background-color: rgb(128, 234, 199);
    /* border-radius: 5px; */
}

.menu #account:hover {
    background-color: rgb(235, 247, 243);

}

.menu #account:hover .phuongThucTaiKhoan {
    background-color: rgb(235, 247, 243);
    display: block;
}

.baoBocDoiMatKhau {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}

form {
    border: 1px solid #dadce0;
    border-radius: 10px;
    padding: 30px;

}

h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

input {
    height: 50px;
    width: 300px;
    outline: none;
    /*Vạch đen bọc ngoài input*/
    border: 1px solid #dadce0;
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    /*Kế thừa font từ cha*/
    color: #202124
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

label {
    position: absolute;
    padding: 0px 5px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.form-group input:focus+label,
.form-group input:valid+label {
    top: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #1a73e8;
}

#btnDoiMatKhau {
    background: #1a73e8;
    color: #fff;
    cursor: pointer;
    margin-bottom: 15px;
}

#btnDoiMatKhau:hover {
    opacity: 0.8;
}